*md
*pem

.dockerignore
docker-compose.yml
compose-dev.yml
.git
.github
.vscode

Infrastucture

*spec.ts
*test.ts
*test.tsx
*test.js
*test.jsx
*spec.js
*spec.jsx
*spec.tsx

*ispec.ts
ispec.js

offtop
test

*e2e-spec.ts
*e2e-spec.js

*mock.ts
*mock.js

*.eslintrc.js
*.eslintrc.json

*.prettierrc.js
*.prettierrc.json
*.prettierrc

nest-cli.json


